# Week 4: Playing with dataframes

In [ ]:
# https://pandasguide.readthedocs.io/en/latest
# you may need to run 'pip install pandas'
import pandas as pd

# https://pandasguide.readthedocs.io/en/latest/Pandas/numpy.html
# you may need to run 'pip install numpy'
import numpy as np

In [ ]:
# create a dataframe without a CSV file:
df = pd.DataFrame([[1, 2, 3], [5, 6, 7], [9, 10, 11]])

# show the dimensions of the dataframe
print(df.shape)

# display the dataframe
df

(3, 3)

   0   1   2
0  1   2   3
1  5   6   7
2  9  10  11

In [ ]:
# rename columns and rows of a dataframe
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html
df.rename(columns={0: "A", 1: "B", 2: "C"},index={0: "D", 1: "E", 2: "F"})

   A   B   C
D  1   2   3
E  5   6   7
F  9  10  11

In [ ]:
df

   0   1   2
0  1   2   3
1  5   6   7
2  9  10  11

In [ ]:
df = df.rename(columns={0: "A", 1: "B", 2: "C"})

# use iloc[] to select a row (think iloc = index location)
print(df.iloc[0])

# Use loc[] to select a column
print(df.loc[:,'A'])
df

A    1
B    2
C    3
D    4
Name: 0, dtype: int64
0    1
1    5
2    9
Name: A, dtype: int64

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
# add a column simply by passing it into the dataframe with name and contents
df["D"] = [4, 8, 12]
print(df.shape)
df

(3, 4)

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
# drop column 'A'
dup_df = df.copy()
dup_df.drop('A', axis=1, inplace=True)
dup_df

KeyError: ignored

In [ ]:
# drop 2nd column (i.e. index 1)
dup_df = df.copy()
dup_df.drop(dup_df.columns[[1]], axis=1)

   A   C   D
0  1   3   4
1  5   7   8
2  9  11  12

In [ ]:
# drop 2nd row (i.e. index 1)
dup_df = df.copy()
dup_df.drop(dup_df.index[1])

   A   B   C   D
0  1   2   3   4
2  9  10  11  12

In [ ]:
# applying functions to a dataframe
def doubler(x):
    return 2*x
# original
print(df)
print()
# double the entire dataframe
print(df.apply(doubler))
print()
# double a selected column
print(df['A'].apply(doubler))
print()
# double a selected row
print(df.loc[0].apply(doubler))

print()
print()
print(df)

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

    A   B   C   D
0   2   4   6   8
1  10  12  14  16
2  18  20  22  24

0     2
1    10
2    18
Name: A, dtype: int64

A    2
B    4
C    6
D    8
Name: 0, dtype: int64


   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
# create a dataframe with a CSV file:
# use pd.read_csv
df2 = pd.read_csv('/data.csv')
df2

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
# you may have to install this (it's okay if not working)
# command line: pip install openpyxl
import openpyxl
# save dataframe into an excel file (can also do with a CSV)
writer = pd.ExcelWriter('data.xlsx')
df2.to_excel(writer, 'DataFrame')
# save dataframe to a file named 'data.xlsx'
writer.save()

In [ ]:
# create a dataframe with a CSV file:
# use pd.read_excel
df3 = pd.read_excel('data.xlsx')
# be careful with going back and forth
df3

   Unnamed: 0  col1  col2  col3
0           0     1     2     3
1           1     4     5     6
2           2     7     8     9

In [ ]:
data1 = np.array(['California', 'North Carolina', 'New York', 'Oregon'])
labels = ['Isabel', 'Jack', 'Adam', 'Jane']
data2 = [31, 2, 94, 35]
series1 = pd.Series(data1, labels)
series2 = pd.Series(data2, labels)

In [ ]:
series1

Isabel        California
Jack      North Carolina
Adam            New York
Jane              Oregon
dtype: object

In [ ]:
series2

Isabel    31
Jack       2
Adam      94
Jane      35
dtype: int64

In [ ]:
# many data types, just another way to put together a dataframe
df4 = pd.DataFrame(data={'column1': series1, 'column2':series2}, index=labels)
df4

               column1  column2
Isabel      California       31
Jack    North Carolina        2
Adam          New York       94
Jane            Oregon       35

In [ ]:
# lots of built-in operations for dataframes
# https://pandas.pydata.org/docs/reference/frame.html
print(df4['column2'].median())
print(df4['column2'].mean())
print(df4['column2'].sum())

33.0
40.5
162

In [ ]:
# general stats about the dataframe
df4.describe()

         column2
count   4.000000
mean   40.500000
std    38.578923
min     2.000000
25%    23.750000
50%    33.000000
75%    49.750000
max    94.000000

In [ ]:
# combining functions and creating dataframes
def square_it(x):
    return x**2
df5 = pd.DataFrame([[1], [2], [3], [4], [5]])
df5.rename(columns={0: "A"}, inplace=True)
letters = ['A','B','C','D','E']
for i in range(len(letters)-1):
    df5[letters[i+1]] = df5[letters[i]].apply(square_it)
df5

   A   B    C       D             E
0  1   1    1       1             1
1  2   4   16     256         65536
2  3   9   81    6561      43046721
3  4  16  256   65536    4294967296
4  5  25  625  390625  152587890625

In [ ]:
# define function cube it
def cube_it(x):
    return x**3
# create data frame with numbers 1-5
df6 = pd.DataFrame([[1], [2], [3], [4], [5]])
# name the column 'A'
df6.rename(columns={0: "A"}, inplace=True)
# apply the function cube_it to each entry in column 'A'
df6 = df6['A'].apply(cube_it)
df6

0      1
1      8
2     27
3     64
4    125
Name: A, dtype: int64